.topnav {
    width: 100%;
    background: var(--bg-2);
    box-shadow: 0 0.05vw 0.4vw grey;
    z-index:10;
}

.topnav-container a {
    color: var(--text-1);
    font-weight: bold;
    transition: 0.3s;
    border: solid 0vw;
}

.topnav-container a:hover {
    color: var(--text-2);
    border-color: var(--text-2);
}

.top-drop-down {
    display: block;
    position: absolute;
    font-weight: bold;
    text-align: center;
    background: var(--col-1);
    transition: 0.3s;
    z-index: 10;
}

.top-drop-down a {
    display: block;
    padding: 1.2vw;
}

.top-drop-down a:hover {
    color: var(--bg-5);
    background: var(--bg-4);
}

.top-drop:nth-of-type(2):hover+.top-drop-down:nth-of-type(1),
.top-drop:nth-of-type(3):hover+.top-drop-down:nth-of-type(2),
.top-drop-down:nth-of-type(1):hover, .top-drop-down:nth-of-type(2):hover {
    pointer-events: auto;
    opacity: 1;
}

/* first media for laptop type screen */

@media(min-aspect-ratio:8/5), (min-width:800px) {
    .topnav {
        height: 7vw;
        position:sticky;
        top:0;
    }

    .topnav-logo {
        float: left;
        height: 100%;
        width: 35%;
        box-shadow: 0.5vw 0 var(--bg-2), 1vw 0 var(--text-1);
    }

    .topnav-logo img {
        float: left;
        height: 100%;
    }

    .topnav-container {
        float: right;
        width: 60%;
        height: 100%;
        position: relative;
    }

    .topnav-container>a {
        float: left;
        font-size: 2.5vw;
        padding-top: 3.5%;
        margin-right: 0%;
        margin-right: 5%;
    }

    .topnav-container>a:hover {
        border-bottom: 1vw solid;
        padding-top: 2%;
        padding-bottom: 0.5%;
    }

    .topnav-container .account {
        float: right;
    }

    .top-drop-down {
        font-size: 1.5vw;
        pointer-events: none;
        opacity: 0;
        left: -0.9vw;
        bottom: -6.6vw;
    }

    .top-drop-down:nth-of-type(2) {
        left: 10.3vw;
    }
}

/* second media for tablet like screen */

@media(max-aspect-ratio:8/5) and (min-aspect-ratio:17/20) and (max-width:800px) {
    .topnav-logo {
        width: 100%;
        height: 14vw;
        box-shadow: 0 0.05vw 0.4vw black;
    }

    .topnav-logo img {
        height: 100%;
    }

    .topnav-container {
        height: 7vw;
        position: relative;
        display: flex;
        justify-content: space-around;
    }

    .topnav-container>a {
        font-size: 3vw;
        padding-top: 2%;
    }

    .topnav-container .account {
        float: right;
        position: absolute;
        border: solid;
        padding: 1vw 3vw;
        background: var(--bg-4);
        border-radius: 100vw;
        top: -10vw;
        right: 7vw;
    }

    .topnav-container>a:hover:not(.account) {
        border-bottom: 1.8vw solid;
        padding-top: 1%;
        padding-bottom: -20%;
    }

    .account:hover {
        background: var(--bg-5);
    }

    .top-drop-down {
        font-size: 2vw;
        pointer-events: none;
        opacity: 0;
        left: 9.5vw;
        bottom: -9.2vw;
    }

    .top-drop-down:nth-of-type(2) {
        left: 40.5vw;
    }
}

/* third media for phone like screen */

@media(max-aspect-ratio:17/20) and (max-width:800px) {
    .topnav-logo {
        width: 100%;
        height: 21vw;
        box-shadow: 0 0.05vw 0.4vw black;
    }

    .topnav-logo img {
        height: 100%;
    }

    .topnav-container a {
        display: block;
        padding: 1% 2%;
        font-size: 5vw;
        border-top: .2vw solid black;
    }

    .topnav-container>a:not(.account):not(:last-child)::after {
        float: right;
        font-family: Material Icons;
        content: 'expand_more';
    }

    .account {
        text-align: center;
        background: var(--bg-4);
    }

    .account:hover {
        background: var(--bg-5);
    }

    .top-drop-down {
        text-align: left;
        position: relative;
        display: block;
        overflow: hidden;
        height: auto;
        max-height: 0;
    }

    .top-drop-down a {
        display: block;
        background: var(--col-1);
    }
}